@charset "UTF-8";

html {
    scroll-behavior: smooth;
    font-size: calc(10 * 100vw / 390);
}

@media (min-width: 768px) {
    html {
        font-size: calc(10 * 100vw / 1240);
    }
}

@media (min-width: 1240px) {
    html {
        font-size: 62.5%;
    }
}

body {
    font-family: "Noto Sans JP", sans-serif;
    color: #000;
    line-height: 1.75;
    padding-top: 6.3rem;
}

@media (min-width: 768px) {
    body {
        padding-top: 11.4rem;
    }
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

li {
    list-style: none;
}

/*----------------------------- ヘッダー --------------------------------*/
.header {
    width: 100%;
    padding: 1.7rem 1.6rem;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 39rem;
    margin-inline: auto;

}

.header__logo img {
    width: 19.7rem;
    height: 2.2rem;
}

/* PCナビゲーション*/
.header__nav {
    display: none;
}

.header__nav-list {
    display: flex;
    gap: 4.2em;
}

.header__nav-item {
    font-weight: 700;
    font-size: 1.6rem;
}

/* ハンバーガーボタン */
.header__hamburger {
    width: 2.5rem;
    height: 3rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header__hamburger-bar {
    width: 2.4rem;
    height: 0.2rem;
    background-color: #000;
}

.header__hamburger-bar:first-child,
.header__hamburger-bar:nth-child(2) {
    margin-bottom: 0.6rem;
}

/* SPメニュー */
.header__menu {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 3.4rem);
    background-color: #168352;
    padding: 3.2rem 1rem;
    border-radius: 2.4rem;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s ease, visibility .3s ease;
    z-index: 900;
}

.header__menu--active {
    opacity: 1;
    visibility: visible;
}

.header__menu-list {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    align-items: center;
}

.header__menu-link {
    font-size: 1.8rem;
    font-weight: 700;
    color: #fff;
}

.header__menu-item:first-child {
    margin-right: 0.7rem;
}

@media (min-width: 768px) {

    .header {
        padding: 4.2rem 11.5rem;
    }

    .header__inner {
        max-width: 124rem;
    }

    .header__logo img {
        width: 26.4rem;
        height: 3rem;
    }

    .header__hamburger {
        display: none;
    }

    .header__nav {
        display: block;
    }

    .header__nav-list {
        gap: 3.8rem;
    }

    .header__nav-item {
        transition: opacity 0.3s ease;

    }

    .header__nav-item:hover {
        opacity: 0.5;
    }

    .header__menu {
        display: none;
    }
}

/*----------------------------- カバー --------------------------------*/
.cover {
    padding: 1.2rem 1.6rem 1.6rem;
}

.cover__inner {
    max-width: 39rem;
    margin-inline: auto;
}

.cover__title {
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 1.9rem;
}

.cover__lead {
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.005em;
    line-break: anywhere;
    margin-top: 0;
}

.cover__img {
    width: 100%;
    margin-top: 2.5rem;
}

@media (min-width: 768px) {
    .cover {
        padding: 4.2rem 3.6rem;
    }

    .cover__inner {
        max-width: 116.6rem;
    }

    .cover__texts {
        display: flex;
        justify-content: space-around;
    }

    .cover__title {
        font-size: 4rem;
        width: 50.4rem;
        margin-bottom: 0;
    }

    .cover__lead {
        font-size: 1.5rem;
        width: 53rem;
        margin-top: 0.6rem;
    }

    .cover__img {
        margin-top: 5.9rem;
    }
}

/*----------------------------- アバウト --------------------------------*/
.about {
    padding: 4rem 0 0;
}

.about__inner {
    max-width: 39rem;
    margin-inline: auto;
}

.about__subtitle {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
    color: #168352;
    line-height: 1;
}

.about__title {
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 1.7rem;
}

.about__content {
    position: relative;
}

.about__img {
    width: 100%;
}

.about__overlay {
    position: absolute;
    padding: 3.2rem 0;
    inset: 0;
}

.about__texts {
    position: relative;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.9);
    opacity: 1;
    padding: 1.5rem 2.5rem 1.7rem;
    border-radius: 3rem;
    width: 35.8rem;
    margin-inline: auto;
}

.about__lead-main {
    font-size: 1.8rem;
    font-weight: 700;
    color: #111;
    margin-right: 0;
}

.about__lead-sub {
    font-size: 1.8rem;
    font-weight: 700;
    color: #111;
    margin-bottom: 0.8rem;

}

.about__body {
    font-size: 1.5rem;
    font-weight: 400;
    color: #111;
    letter-spacing: 0;
}

@media (min-width: 768px) {
    .about {
        padding: 1.6rem 3rem 6.2rem;
    }

    .about__inner {
        max-width: 122.6rem;
    }

    .about__subtitle {
        font-size: 2rem;
        line-height: 1.5;
    }


    .about__title {
        font-size: 2.8rem;
        margin-bottom: 2.2rem;
    }

    .about__content {
        display: flex;
        flex-direction: row-reverse;
        gap: 6rem;
        width: 108.3rem;
    }

    .about__img {
        width: 39rem;
        height: 57rem;
    }

    .about__overlay {
        position: static;
    }


    .about__texts {
        padding: 6.6rem 7.5rem 3rem 11.3rem;
        width: unset;
    }


    .about__lead-main {
        font-size: 2rem;
        margin-right: 4rem;
    }

    .about__lead-sub {
        font-size: 2rem;
        margin-bottom: 2.5rem;
    }

    .about__body {
        font-size: 1.5rem;
        letter-spacing: 0.003em;
    }
}

/*----------------------------- フィーチャーズ --------------------------------*/
.features {
    background-color: #f3f9f6;
    padding: 4.8rem 1.6rem 5.7rem;
}

.features__inner {
    max-width: 39rem;
    margin-inline: auto;
}

.features__subtitle {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
    color: #168352;
    margin-bottom: 0.2rem;
}

.features__title {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 2.4rem;
}

.features__list {
    display: flex;
    flex-direction: column;
    gap: 2.1rem;
}

.features__item {
    border-radius: 2.4rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.05);
}

.features__img {
    width: 100%;
}

.features__text {
    padding: 1.2rem 1.6rem;
    background-color: #fff;
    font-size: 1.8rem;
    font-weight: 700;
    border-radius: 0 0 2.4rem 2.4rem;
}

@media (min-width: 768px) {

    .features {
        padding: 5.5rem 3rem 6.4rem;
    }

    .features__inner {
        max-width: 116.6rem;
    }

    .features__subtitle {
        font-size: 2rem;
        margin-bottom: 0.8rem;
    }

    .features__title {
        font-size: 2.8rem;
        margin-bottom: 3.3rem;
    }

    .features__img {
        width: 36.9rem;
        height: 22.6rem;
    }

    .features__list {
        flex-direction: row;
        gap: 3rem;
    }


    .features__text {
        font-size: 1.9rem;
        padding: 1rem 2rem 1.5rem;
    }
}

/*----------------------------- プロダクツ --------------------------------*/
.products {
    padding: 5rem 1.6rem 5.6rem;
}

.products__inner {
    max-width: 39rem;
    margin-inline: auto;
}

.products__subtitle {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
    color: #168352;
    margin-bottom: 0.2rem;
}

.products__title {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2.4rem;
    line-height: 1;
}

.products__list {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.products__link {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    padding: 2rem 2.5rem;
    background-color: #168352;
    border-radius: 2.4rem;
    text-decoration: none;
    color: #fff;
    transition: background-color .3s ease, color .3s ease;
}

.products__img {
    width: 10rem;
    height: 10rem;
}

.products__text {
    font-size: 1.8rem;
    font-weight: 700;
}

.products__text-line {
    display: block;
}

.products__link:hover {
    background-color: #dffaec;
    color: #168352;
}

@media (min-width: 768px) {

    .products {
        padding: 5.8rem 3rem 6.3rem;
    }

    .products__inner {
        max-width: 110rem;
    }

    .products__subtitle {
        font-size: 2rem;
        margin-bottom: 0.9rem;
    }

    .products__title {
        font-size: 2.8rem;
        margin-bottom: 3.2rem;
    }

    .products__item--half .products__img {
        width: 13.3rem;
        height: 13.3rem;
    }

    .products__item--third .products__img {
        width: 11rem;
        height: 11rem;
    }

    .products__item--half .products__text {
        font-size: 2.4rem;
        margin-left: 1.4rem;
    }

    .products__item--third .products__text {
        font-size: 2rem;
        margin-left: 0.4rem;
        margin-bottom: 0.3rem;
    }

    .products__list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 4rem;
    }

    .products__item--half .products__link {
        padding: 2.4rem 3rem;
    }

    .products__item--third .products__link {
        padding: 2rem 2.4rem;
        gap: 1.6rem;
    }

    .products__item--half {
        width: calc((100% - 5rem) / 2);
    }

    .products__item--third {
        width: calc((100% - (5rem * 2)) / 3);
    }
}

/*----------------------------- ケース --------------------------------*/
.case {
    background-color: #f3f9f6;
    padding: 4.8rem 1.6rem;
}

.case__inner {
    max-width: 39rem;
    margin-inline: auto;
}

.case__subtitle {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
    color: #168352;
    margin-bottom: 0.2rem;
}

.case__title {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2.4rem;
    line-height: 1;
    margin-right: 0;
}

.case__list {
    display: flex;
    flex-direction: column;
    row-gap: 2.6rem;
}

.case__link {
    display: block;
    text-decoration: none;
    color: inherit;
}

.case__img {
    width: 100%;
}

.case__text {
    font-size: 1.8rem;
    font-weight: 700;
    color: #168352;
    margin: 0.8rem 0 0 0.2rem;
}

@media (min-width: 768px) {

    .case {
        padding: 5.5rem 3rem 6rem;
    }

    .case__inner {
        max-width: 116.7rem;
    }

    .case__subtitle {
        font-size: 2rem;
        margin-bottom: 0.7rem;
    }

    .case__title {
        font-size: 2.8rem;
        margin-bottom: 3.3rem;
        margin-right: 0.3rem;
    }

    .case__list {
        flex-direction: row;
        justify-content: center;
        gap: 3.1rem;
    }

    .case__item {
        width: calc((100% - (2.9rem * 2)) / 3);
        transition: opacity 0.3s ease;
    }

    .case__item:hover {
        opacity: 0.5;
    }

    .case__text {
        font-size: 1.9rem;
        margin: 0.7rem 0 0 0.1rem;
    }
}

/*----------------------------- ニュース --------------------------------*/
.news {
    padding: 4.8rem 1.6rem 6.2rem;
}

.news__inner {
    max-width: 39rem;
    margin-inline: auto;
}

.news__subtitle {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
    color: #168352;
    margin-bottom: 0.2rem;
}

.news__title {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 2.3rem;
}

.news__list {
    border-top: 0.2rem solid #ddd;
    margin-bottom: 2.3rem;
}

.news__item {
    list-style: none;
    border-bottom: 0.2rem solid #ddd;
}

.news__link {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem 1.7rem;
    padding: 1.5rem 0 0.9rem;
}

.news__link--small {
    padding: 1.4rem 0 0.8rem;
}

.news__date {
    font-size: 1.5rem;
    color: #222;
    flex-shrink: 0;
}

.news__label {
    font-size: 1.3rem;
    color: #fff;
    background-color: #473221;
    border-radius: 0.4rem;
}

.news__label--info {
    padding: 0.3rem 4.1rem;
}

.news__label--release {
    padding: 0.3rem 1.5rem 0.2rem 1.7rem;

}

.news__text {
    width: 100%;
    font-size: 1.5rem;
    font-weight: 700;
    color: #09947b;
    margin-left: 0;
}

.news__text:hover {
    opacity: 0.5;
}

.news__btn {
    position: relative;
    margin: 0 auto;
    width: 30rem;
}

.news__btn-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 6.6rem;
    background-color: #09947b;
    font-size: 1.8rem;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    border-radius: 3.3rem;
}

.news__btn::after {
    content: "";
    position: absolute;
    inset: 0;

    background-color: #066655;
    border-radius: 3.3rem;

    transform: translateY(0.6rem);
    z-index: -1;
}

@media (hover: hover) {
    .news__btn-link:hover {
        transform: translateY(0.6rem);
    }
}

.news__btn-link:active {
    transform: translateY(0.9rem);
}

@media (min-width: 768px) {

    .news {
        padding: 5.3rem 3rem 7rem;
    }

    .news__inner {
        max-width: 90.3rem;
    }

    .news__subtitle {
        font-size: 2rem;
        margin-bottom: 0.7rem;
    }

    .news__title {
        font-size: 2.8rem;
        margin-bottom: 3.4rem;
    }

    .news__list {
        border-top: 0.1rem solid #ddd;
        margin-bottom: 3rem;
    }

    .news__item {
        list-style: none;
        border-bottom: 0.1rem solid #ddd;
    }

    .news__link {
        flex-wrap: nowrap;
        gap: 2.1rem;
        padding: 1.5rem 0 1.7rem;
    }

    .news__link--small {
        padding: 1.7rem 0 1.5rem;
    }

    .news__date {
        font-size: 1.4rem;
    }

    .news__text {
        width: auto;
        font-size: 1.5rem;
        margin-left: 0.2rem;
    }
}

/*----------------------------- フッター --------------------------------*/
.footer {
    background-color: #168352;
    padding: 2.2rem 1.6rem;
}

.footer__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
}

.footer__link {
    font-size: 1.3rem;
    color: #fff;
    text-decoration: none;
    transition: opacity 0.2s ease;
}

.footer__link:hover {
    opacity: 0.7;
}

.footer__separator {
    width: 0.1rem;
    height: 2.4rem;
    background-color: #fff;
    margin-left: 0;
}

@media (min-width: 768px) {
    .footer {
        padding: 3.4rem 2rem 3.5rem;
    }

    .footer__nav {
        gap: 2rem;
    }

    .footer__link--price {
        font-size: 1.5rem;
    }

    .footer__link--faq {
        font-size: 1.4rem;
    }

    .footer__separator {
        margin-left: 0.2rem;
    }
}

/* -------------------------- グローバルメニュー --------------------------------*/
.global__menu {
    font-size: 1.6rem;
    font-weight: 700;
    transition: opacity .3s ease, visibility .3s ease;
}

.global__menu--green {
    color: #168352;
}

/* -------------------------- 下層ページ カバー --------------------------------*/
.page-cover {
    padding-inline: 1.6rem;
}

.page-cover__inner {
    position: relative;
    margin-top: 2.1rem;
}

.page-cover__picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2.4rem;
}

.page-cover__title {
    background-color: #fff;
    font-size: 3rem;
    font-weight: 700;
    line-height: 1;
    margin-top: 2.8rem;
}

.breadcrumb {
    margin-top: 2.7rem;
    max-width: 37.6rem;
}

.breadcrumb__list {
    display: flex;
    justify-content: flex-end;
}

.breadcrumb__item {
    display: flex;
    font-size: 1.2rem;
    align-items: center;
}

.breadcrumb__item:not(.breadcrumb__item--current)::after {
    content: "";
    width: 0.6rem;
    height: 1rem;
    margin: 0 0.7rem;
    background-image: url("/assets/image/breadcrumb_arrow.png");
    background-repeat: no-repeat;
    background-size: contain;
}

@media (min-width: 768px) {
    .page-cover {
        padding-inline: 3rem;
    }

    .page-cover__inner {
        max-width: 120rem;
        margin-inline: auto;
        margin-top: 3.9rem;
    }

    .page-cover__title {
        position: absolute;
        left: 0;
        bottom: 0;
        font-size: 3.6rem;
        padding: 3.6rem 3.7rem 4rem 4rem;
        border-radius: 0 4rem 0 0;
        margin-top: 0;
    }

    .breadcrumb {
        max-width: 120.4rem;
        margin-inline: auto;
        margin-top: 2rem;
    }
}

/* ----------------------------- 共通の見出し --------------------------------*/
.section-head {
    position: relative;
    margin-bottom: 3.1rem;
    max-width: 39rem;
    margin-inline: auto;
}

.section-head__title {
    font-size: 2.2rem;
    font-weight: 700;
    margin-bottom: 0.6rem;
}

/* 下線 */
.section-head::before,
.section-head::after {
    content: "";
    position: absolute;
    left: 0;
    height: 0.3rem;
}

.section-head::before {
    width: 100%;
    background-color: #ddd;
    bottom: -0.7rem;
}

.section-head::after {
    width: 5rem;
    background-color: #168352;
    bottom: -0.7rem;
}

@media (min-width: 768px) {
    .section-head {
        max-width: 80rem;
        margin-bottom: 5rem;
    }

    .section-head__title {
        font-size: 2.8rem;
    }

    .section-head::before,
    .section-head::after {
        height: 0.5rem;
    }

    .section-head::before {
        width: 80rem;
        bottom: -1.9rem;
    }

    .section-head::after {
        width: 10rem;
        bottom: -1.9rem;
    }
}

/* ----------------------------- ギャラリー --------------------------------*/
.gallery {
    padding: 2.6rem 0;
}

.gallery__inner {
    max-width: 39rem;
    margin-inline: auto;
    padding-inline: 1.6rem;
    overflow: hidden;
}

/* Swiper */
.swiper,
.gallery__slide {
    overflow: hidden;
}

.swiper-wrapper {
    display: flex;
}

.swiper-slide {
    flex-shrink: 0;
}

.gallery__slider {
    position: relative;
}

.gallery__slide img {
    width: 100%;
    max-width: 35.8rem;
    aspect-ratio: 358 / 236.97;
    height: auto;
    border-radius: 2.4rem;
    margin-inline: auto;
}

.gallery__pagination .swiper-pagination {
    position: absolute;
    width: auto;
    bottom: 1.2rem;
    left: 33.4rem;
    display: flex;
    z-index: 2;
}

.gallery__pagination .swiper-pagination-bullet {
    width: 0.8rem;
    height: 0.8rem;
    background-color: #eee;
    opacity: 1;
    margin: 0;
    border-radius: 50%;
}

.gallery__pagination .swiper-pagination-bullet-active {
    background-color: #168352;
}

@media (min-width: 768px) {
    .gallery {
        padding: 4.9rem 0;
    }

    .gallery__inner {
        max-width: 80rem;
        margin-inline: auto;
        padding-inline: 0;
    }

    .gallery__slide img {
        max-width: 80rem;
        aspect-ratio: 800 / 499.94;
    }

    .gallery__pagination .swiper-pagination {
        bottom: 1.3rem;
    }

    .gallery__pagination .swiper-pagination-bullet {
        margin: 0.3rem;
    }
}

/* ----------------------------- 特長（下層ページ） -------------------------------- */
.merit {
    padding: 2.8rem 0;
}

.merit__inner {
    max-width: 39rem;
    margin-inline: auto;
    padding-inline: 1.6rem;
}

.merit__list {
    display: flex;
    flex-direction: column;
    gap: 3.6rem;
}

.merit__img {
    width: 100%;
    border-radius: 1.6rem;
    margin-bottom: 0.8rem;
}

.merit__text {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.7;
}

.merit__text--over {
    word-break: keep-all;
}

.merit__text--mini {
    overflow-wrap: anywhere;
    padding: 0.1rem 0.1rem 0 0;
}

@media (min-width: 768px) {
    .merit {
        padding: 1.1rem 0;
    }

    .merit__inner {
        max-width: 86rem;
        padding-inline: 3rem;
    }

    .merit__list {
        flex-direction: row;
        gap: 3rem;
    }

    .merit__img {
        margin-bottom: 0.9rem;
    }

    .merit__item {
        width: calc((100% - 6rem) / 3);
    }

    .merit__text {
        font-size: 1.8rem;
    }

    .merit__text--over {
        word-break: normal;
    }
}

/* ----------------------------- メーカー小売価格 -------------------------------- */
.price {
    padding: 2.2rem 0;
}

.price__inner {
    max-width: 39rem;
    margin-inline: auto;
    padding-inline: 1.6rem;
}

.price__box {
    text-align: start;
}

.price__amount {
    font-size: 3.2rem;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    line-height: 1;

}

.price__tax {
    font-size: 1.6rem;
}

@media (min-width: 768px) {
    .price {
        padding: 4.5rem 0;
    }

    .price__inner {
        max-width: 83rem;
        padding-inline: 0;
    }

    .price__amount {
        line-height: 0.9;
        margin-left: 1.5rem;
    }
}

/* ----------------------------- スペック -------------------------------- */
.spec {
    padding: 2.9rem 0 6.6rem;
}

.spec__inner {
    max-width: 39rem;
    margin-inline: auto;
    padding-inline: 1.6rem;
}

.spec__category {
    font-size: 2rem;
    font-weight: 700;
    margin: 0 0 1.8rem;
    line-height: 1.4;
    padding-left: 1.6rem;
    border-left: 2px solid #168352;
}

/* スペック表 */
.spec__list {
    border: 1px solid #ddd;
    margin-inline: 0;
}

.spec__row {
    display: grid;
    grid-template-columns: 1fr;
}

.spec__term,
.spec__desc {
    font-size: 1.6rem;
    border-top: 1px solid #ddd;
}

.spec__row:first-child .spec__term,
.spec__row:first-child .spec__desc {
    border-top: none;
}

.spec__term {
    background-color: #f5f5f5;
    font-weight: 700;
    padding: 0.5rem 1.4rem 0.7rem 1.8rem;
}

.spec__desc {
    background-color: #fff;
    font-weight: 400;
    padding: 0.4rem 1.4rem 0.4rem 1.8rem;
}

@media (min-width: 768px) {
    .spec {
        padding: 1.2rem 0 7rem;
    }

    .spec__inner {
        max-width: 80rem;
        padding-inline: 0;
    }

    .spec__category {
        font-size: 2.4rem;
        margin: 0 3rem 2.5rem;
        line-height: 1.7;
        padding-left: 1.6rem;
    }

    .spec__list {
        margin-inline: 3rem;
    }

    .spec__row {
        grid-template-columns: 20rem 1fr;
    }

    .spec__term {
        padding: 1.5rem 1.4rem 1.9rem 1.8rem;
    }

    .spec__desc {
        padding: 1.4rem 1.4rem 0.4rem 2.2rem;
    }
}

/* ----------------------------- お問い合わせ -------------------------------- */
.cta {
    position: relative;
    height: 36rem;
    background-image: url("/assets/image/cta_bg_sp.jpg");
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.cta::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.cta__inner {
    position: relative;
    z-index: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cta__btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 36rem;
    height: 8rem;
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 4rem;
    background-color: transparent;
    text-decoration: none;
    transition: opacity .3s ease, visibility .3s ease;
}

.cta__btn:hover {
    background-color: #fff;
    color: #168352;
}

@media (min-width: 768px) {
    .cta {
        height: 45rem;
        background-image: url("/assets/image/cta_bg_pc.jpg");
    }

    .cta__btn {
        min-width: 36rem;
        height: 8rem;
    }
}

/* ----------------------------- FAQ -------------------------------- */
.faq {
    padding: 3.6rem 1.6rem 6.4rem;
}

.faq__inner {
    max-width: 39rem;
    margin-inline: auto;
}

.faq__list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.faq__item {
    position: relative;
    border: 1px solid #ccc;
    border-radius: 1.6rem;
    overflow: hidden;
}

.faq__title {
    display: flex;
    padding: 1.3rem 2.3rem 1.9rem;
    cursor: pointer;
}

.faq__title--small {
    padding: 1.4rem 2.3rem 1.6rem;
}

.faq__title--big {
    padding: 1.4rem 2.3rem 2rem;
}

.faq__q {
    font-size: 2.4rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #168352;
}

.faq__body {
    display: flex;
    flex-direction: column;
}

.faq__tags {
    display: flex;
    gap: 0.9rem;
    padding: 1rem 1.6rem 0.3rem;
}

.faq__tag {
    border: 1px solid #168352;
    border-radius: 0.4rem;
    font-size: 1.1rem;
    color: #168352;
}

.faq__tag--use {
    padding: 0.1rem 1rem 0.2rem;
}

.faq__tag--product {
    padding: 0.2rem 1.6rem 0.1rem;
    }

.faq__tag--usage {
    padding: 0.1rem 1.6rem 0.2rem;
    }

.faq__question {
    padding: 0 3.5rem 0 1.6rem;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.6;
}

.faq__question--law {
    padding: 0 3.5rem 0 1.6rem;
    line-break: anywhere;
}

.faq__title::after {
    position: absolute;
    content: "";
    top: 1.3rem;
    right: 2rem;
    width: 2.2rem;
    height: 1.9rem;
    background-image: url("/assets/image/faq_icon_plus.png");
    background-size: contain;
    margin-top: 1.4rem;
}

.faq__item--active .faq__title::after {
    background-image: url("/assets/image/faq_icon_minus.png");
}

.faq__content {
    display: none;
}

.faq__answer {
    margin-top: -1.3rem;
    padding: 0 2.5rem 1.7rem;
    font-size: 1.6rem;
    line-height: 1.7;
}

@media (min-width: 768px) {
    .faq {
        padding: 6rem 3rem 7rem;
    }

    .faq__inner {
        max-width: 80rem;
    }

    .faq__list {
        gap: 2.4rem;
    }

    .faq__title {
        padding: 1rem 2.4rem 1.9rem 3rem;
    }

    .faq__title--big {
        padding: 1.1rem 2rem 2rem 3.1rem;
    }

    .faq__title::after {
        top: 1.1rem;
        right: 2.8rem;
    }

    .faq__question {
        font-size: 1.8rem;
        padding: 0 3.5rem 0 1.6rem;
    }

    .faq__answer {
        padding: 0 2.4rem 2rem 3.2rem;
        margin-top: 0;
        line-break: anywhere;
    }

    .faq__tags {
        padding: 1.2rem 1.6rem 0.8rem;
    }

    .faq__tag--use {
        padding: 0.3rem 1rem 0.1rem;
    }

    .faq__title::after {
    top: 1.1rem;
    right: 2.8rem;
    width: 2.2rem;
    height: 1.9rem;
}

.faq__item--active .faq__title::after {
        top: 2rem;
    right: 3rem;
}
}