@charset "UTF-8";
html {
    scroll-behavior: smooth;
    font-size: calc(10 * 100vw / 390);
}

@media (min-width: 768px) {
    html {
        font-size: calc(10 * 100vw / 1240);
    }
}

@media (min-width: 1240px) {
    html {
        font-size: 62.5%;
    }
}

body {
    font-family: "Noto Sans JP", sans-serif;
    color: #000;
    line-height: 1.75;
    padding-top: 6.3rem;
}

@media (min-width: 768px) {
    body {
        padding-top: 11.4rem;
    }
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

li {
    list-style: none;
}

/*----------------------------- ヘッダー --------------------------------*/
.header {
    width: 100%;
    padding: 1.7rem 1.6rem;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 39rem;
    margin-inline: auto;

}

.header__logo img {
    width: 19.7rem;
    height: 2.2rem;
}

/* PCナビゲーション*/
.header__nav {
    display: none;
}

.header__nav-list {
    display: flex;
    gap: 4.2em;
}

.header__nav-item {
    font-weight: 700;
    font-size: 1.6rem;
}

/* ハンバーガーボタン */
.header__hamburger {
    width: 2.5rem;
    height: 3rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header__hamburger-bar {
    width: 2.4rem;
    height: 0.2rem;
    background-color: #000;
}

.header__hamburger-bar:first-child,
.header__hamburger-bar:nth-child(2) {
    margin-bottom: 0.6rem;
}

/* SPメニュー */
.header__menu {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 3.4rem);
    background-color: #168352;
    padding: 3.2rem 1rem;
    border-radius: 2.4rem;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s ease, visibility .3s ease;
    z-index: 900;
}

.header__menu--active {
    opacity: 1;
    visibility: visible;
}

.header__menu-list {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    align-items: center;
}

.header__menu-link {
    font-size: 1.8rem;
    font-weight: 700;
    color: #fff;
}

.header__menu-item:first-child {
    margin-right: 0.7rem;
}

@media (min-width: 768px) {

    .header {
        padding: 4.2rem 11.5rem;
    }

    .header__inner {
        max-width: 124rem;
    }

    .header__logo img {
        width: 26.4rem;
        height: 3rem;
    }

    .header__hamburger {
        display: none;
    }

    .header__nav {
        display: block;
    }

    .header__nav-list {
        gap: 3.8rem;
    }

    .header__menu {
        display: none;
    }
}

/*----------------------------- カバー --------------------------------*/
.cover {
    padding: 1.2rem 1.6rem 1.6rem;
}

.cover__inner {
    max-width: 39rem;
    margin-inline: auto;
}

.cover__title {
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 1.9rem;
}

.cover__lead {
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.005em;
    line-break: anywhere;
    margin-top: 0;
}

.cover__img {
    width: 100%;
    margin-top: 2.5rem;
}

@media (min-width: 768px) {
    .cover {
        padding: 4.2rem 3.6rem;
    }

    .cover__inner {
        max-width: 116.6rem;
    }

    .cover__texts {
        display: flex;
        justify-content: space-around;
    }

    .cover__title {
        font-size: 4rem;
        width: 50.4rem;
        margin-bottom: 0;
    }

    .cover__lead {
        font-size: 1.5rem;
        width: 53rem;
        margin-top: 0.6rem;
    }

    .cover__img {
        margin-top: 5.9rem;
    }
}
/*----------------------------- アバウト --------------------------------*/
.about {
    padding: 4rem 0 0;
}

.about__inner {
    max-width: 39rem;
    margin-inline: auto;
}

.about__subtitle {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
    color: #168352;
    line-height: 1;
}

.about__title {
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 1.7rem;
}

.about__content {
    position: relative;
}

.about__img {
    width: 100%;
}

.about__overlay {
    position: absolute;
    padding: 3.2rem 0 ;
    inset: 0;
}

.about__texts {
    position: relative;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.9);
    opacity: 1;
    padding: 1.5rem 2.5rem 1.7rem;
    border-radius: 3rem;
    width: 35.8rem;
    margin-inline: auto;
}

.about__lead-main {
    font-size: 1.8rem;
    font-weight: 700;
    color: #111;
    margin-right: 0;
}

.about__lead-sub {
    font-size: 1.8rem;
    font-weight: 700;
    color: #111;
    margin-bottom: 0.8rem;

}

.about__body {
    font-size: 1.5rem;
    font-weight: 400;
    color: #111;
    letter-spacing: 0;
}

@media (min-width: 768px) {
    .about {
        padding: 1.6rem 3rem 6.2rem;
    }

    .about__inner {
        max-width: 122.6rem;
    }

    .about__subtitle {
        font-size: 2rem;
        line-height: 1.5;
    }


    .about__title {
        font-size: 2.8rem;
        margin-bottom: 2.2rem;
    }

    .about__content {
        display: flex;
        flex-direction: row-reverse;
        gap: 6rem;
        width: 108.3rem;
    }

    .about__img {
        width: 39rem;
        height: 57rem;
    }

    .about__overlay {
        position: static;
    }


    .about__texts {
        padding: 6.6rem 7.5rem 3rem 11.3rem;
        width: unset;
    }


    .about__lead-main {
        font-size: 2rem;
        margin-right: 4rem;
    }

    .about__lead-sub {
        font-size: 2rem;
        margin-bottom: 2.5rem;
    }

    .about__body {
        font-size: 1.5rem;
        letter-spacing: 0.003em;
    }
}

/*----------------------------- フィーチャーズ --------------------------------*/
.features {
    background-color: #f3f9f6;
    padding: 4.8rem 1.6rem 5.7rem;
}

.features__inner {
    max-width: 39rem;
    margin-inline: auto;
}

.features__subtitle {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
    color: #168352;
    margin-bottom: 0.2rem;
}

.features__title {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 2.4rem;
}

.features__list {
    display: flex;
    flex-direction: column;
    gap: 2.1rem;
}

.features__item {
    border-radius: 2.4rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.05);
}

.features__img {
    width: 100%;
}

.features__text {
    padding: 1.2rem 1.6rem;
    background-color: #fff;
    font-size: 1.8rem;
    font-weight: 700;
    border-radius: 0 0 2.4rem 2.4rem;
}

@media (min-width: 768px) {

    .features {
        padding: 5.5rem 3rem 6.4rem;
    }

    .features__inner {
        max-width: 116.6rem;
    }

    .features__subtitle {
        font-size: 2rem;
        margin-bottom: 0.8rem;
    }

    .features__title {
        font-size: 2.8rem;
        margin-bottom: 3.3rem;
    }

    .features__img {
        width: 36.9rem;
        height: 22.6rem;
    }

    .features__list {
        flex-direction: row;
        gap: 3rem;
    }


    .features__text {
        font-size: 1.9rem;
        padding: 1rem 2rem 1.5rem;
    }
}

/*----------------------------- プロダクツ --------------------------------*/
.products {
    padding: 5rem 1.6rem 5.6rem;
}

.products__inner {
    max-width: 39rem;
    margin-inline: auto;
}

.products__subtitle {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
    color: #168352;
    margin-bottom: 0.2rem;
}

.products__title {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2.4rem;
    line-height: 1;
}

.products__list {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.products__link {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    padding: 2rem 2.5rem;
    background-color: #168352;
    border-radius: 2.4rem;
    text-decoration: none;
    color: #fff;
    transition: background-color .3s ease, color .3s ease;
}

.products__img {
    width: 10rem;
    height: 10rem;
}

.products__text {
    font-size: 1.8rem;
    font-weight: 700;
}

.products__text-line {
    display: block;
}

.products__link:hover {
    background-color: #dffaec;
    color: #168352;
}

@media (min-width: 768px) {

    .products {
        padding: 5.8rem 3rem 6.3rem;
    }

    .products__inner {
        max-width: 110rem;
    }

    .products__subtitle {
        font-size: 2rem;
        margin-bottom: 0.9rem;
    }

    .products__title {
        font-size: 2.8rem;
        margin-bottom: 3.2rem;
    }

    .products__item--half .products__img {
        width: 13.3rem;
        height: 13.3rem;
    }

    .products__item--third .products__img {
        width: 11rem;
        height: 11rem;
    }

    .products__item--half .products__text {
        font-size: 2.4rem;
        margin-left: 1.4rem;
    }

    .products__item--third .products__text {
        font-size: 2rem;
        margin-left: 0.4rem;
        margin-bottom: 0.3rem;
    }

    .products__list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 4rem;
    }

    .products__item--half .products__link {
        padding: 2.4rem 3rem;
    }

    .products__item--third .products__link {
        padding: 2rem 2.4rem;
        gap: 1.6rem;
    }

    .products__item--half {
        width: calc((100% - 5rem) / 2);
    }

    .products__item--third {
        width: calc((100% - (5rem * 2)) / 3);
    }
}

/*----------------------------- ケース --------------------------------*/
.case {
    background-color: #f3f9f6;
    padding: 4.8rem 1.6rem;
}

.case__inner {
    max-width: 39rem;
    margin-inline: auto;
}

.case__subtitle {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
    color: #168352;
    margin-bottom: 0.2rem;
}

.case__title {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2.4rem;
    line-height: 1;
    margin-right: 0;
}

.case__list {
    display: flex;
    flex-direction: column;
    row-gap: 2.6rem;
}

.case__link {
    display: block;
    text-decoration: none;
    color: inherit;
}

.case__img {
    width: 100%;
}

.case__text {
    font-size: 1.8rem;
    font-weight: 700;
    color: #168352;
    margin: 0.8rem 0 0 0.2rem;
}

@media (min-width: 768px) {

    .case {
        padding: 5.5rem 3rem 6rem;
    }

    .case__inner {
        max-width: 116.7rem;
    }

    .case__subtitle {
        font-size: 2rem;
        margin-bottom: 0.7rem;
    }

    .case__title {
        font-size: 2.8rem;
        margin-bottom: 3.3rem;
        margin-right: 0.3rem;
    }

    .case__list {
        flex-direction: row;
        justify-content: space-between;
        gap: 2.1rem;
    }

    .case__item {
        width: calc((100% - (2.9rem * 2)) / 3);
        transition: opacity 0.3s ease;
    }

    .case__item:hover {
        opacity: 0.5;
    }

    .case__text {
        font-size: 1.9rem;
        margin: 0.7rem 0 0 0.1rem;
    }
}

/*----------------------------- ニュース --------------------------------*/
.news {
    padding: 4.8rem 1.6rem 6.2rem;
}

.news__inner {
    max-width: 39rem;
    margin-inline: auto;
}

.news__subtitle {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
    color: #168352;
    margin-bottom: 0.2rem;
}

.news__title {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 2.3rem;
}

.news__list {
    border-top: 0.2rem solid #ddd;
    margin-bottom: 2.3rem;
}

.news__item {
    list-style: none;
    border-bottom: 0.2rem solid #ddd;
}

.news__link {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem 1.7rem;
    padding: 1.5rem 0 0.9rem;
}

.news__link--small {
    padding: 1.4rem 0 0.8rem;
}

.news__date {
    font-size: 1.5rem;
    color: #222;
    flex-shrink: 0;
}

.news__label {
    font-size: 1.3rem;
    color: #fff;
    background-color: #473221;
    border-radius: 0.4rem;
}

.news__label--info {
    padding: 0.3rem 4.1rem;
}

.news__label--release {
    padding: 0.3rem 1.5rem 0.2rem 1.7rem;

}

.news__text {
    width: 100%;
    font-size: 1.5rem;
    font-weight: 700;
    color: #09947b;
    margin-left: 0;
}

.news__text:hover {
    opacity: 0.5;
}

.news__btn {
    position: relative;
    margin: 0 auto;
    width: 30rem;
}

.news__btn-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 6.6rem;
    background-color: #09947b;
    font-size: 1.8rem;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    border-radius: 3.3rem;
}

.news__btn::after {
  content: "";
  position: absolute;
  inset: 0;

  background-color: #066655;
  border-radius: 3.3rem;

  transform: translateY(0.6rem);
  z-index: -1;
}

@media (hover: hover) {
  .news__btn-link:hover {
    transform: translateY(0.6rem); 
  }
}

.news__btn-link:active {
  transform: translateY(0.9rem);
}

@media (min-width: 768px) {

    .news {
        padding: 5.3rem 3rem 7rem;
    }

    .news__inner {
        max-width: 90.3rem;
    }

    .news__subtitle {
        font-size: 2rem;
        margin-bottom: 0.7rem;
    }

    .news__title {
        font-size: 2.8rem;
        margin-bottom: 3.4rem;
    }

.news__list {
    border-top: 0.1rem solid #ddd;
    margin-bottom: 3rem;
}

.news__item {
    list-style: none;
    border-bottom: 0.1rem solid #ddd;
}

    .news__link {
        flex-wrap: nowrap;
        gap: 2.1rem;
        padding: 1.5rem 0 1.7rem;
    }

.news__link--small {
    padding: 1.7rem 0 1.5rem;
}

.news__date {
    font-size: 1.4rem;
}

    .news__text {
        width: auto;
        font-size: 1.5rem;
        margin-left: 0.2rem;
    }
}

/*----------------------------- フッター --------------------------------*/
.footer {
    background-color: #168352;
    padding: 2.2rem 1.6rem;
}

.footer__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
}

.footer__link {
    font-size: 1.3rem;
    color: #fff;
    text-decoration: none;
    transition: opacity 0.2s ease;
}

.footer__link:hover {
    opacity: 0.7;
}

.footer__separator {
    width: 0.1rem;
    height: 2.4rem;
    background-color: #fff;
    margin-left: 0;
}

@media (min-width: 768px) {
    .footer {
        padding: 3.4rem 2rem;
    }

    .footer__nav {
        gap: 2rem;
    }

    .footer__link--price {
        font-size: 1.5rem;
    }

.footer__link--faq {
    font-size: 1.4rem;
}

.footer__separator {
    margin-left: 0.2rem;
}
}